@use '../custom' as *;
@use '../components/mixins' as *;

.footer-sm {
    // a {
    //     color: aqua;
    // }

    i {
        font-size: 1.2rem;
        margin-left: 1rem;


        @include media-breakpoint-up(sm) {
            font-size: 1.6rem;
        }

        &:hover {
            color: #AE67FA;
            
        }
    }

    .info {
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        @include media-breakpoint-up(sm) {
            font-size: 1.5rem;
        }
    }
}

.footer-line {
    background:linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);;
}