@use '../custom' as *;

//GRADIENT MIXINS
@mixin gradient {
    background: linear-gradient(to right, rgba($secondary,0.95), rgba($primary, 0.95));
}

// .herotext h1 {
//     padding: 10% 0% 5% 0%;
//     font-weight: 700;
//     font-size: 62px;
//     padding-right: 10%;
//     background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation: fadeIn 7s infinite;
// }
@mixin gradient2 {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 7s infinite;
}

@mixin btn-hover {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

@mixin btn-hover2 {
    border: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}