@use '../custom' as *;
@use '../components/mixins' as *;
.display-2 {
    // @include gradient2;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Bricolage Grotesque';

    &--intro {
        @include gradient2;
        display: inline-block;
        font-weight: 500;
        //font-family: 'Poppins', sans-serif;
        font-family: 'Bricolage Grotesque';
        
        


    }

    &--description {
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        font-family: 'Poppins', sans-serif
    }
}
