@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/animation' as *;
.display-2 {
    // @include gradient2;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Bricolage Grotesque';

    &--intro {
        @include gradient2;
        animation: bounce 2s forwards;
        display: inline-block;
        font-weight: 500;
        //font-family: 'Poppins', sans-serif;
        font-family: 'Bricolage Grotesque';

        @include media-breakpoint-down(md) {
            font-size: 3rem;
        }
        
        


    }

    // &--header {
    //     @include gradient2;
    //     font-size: 1rem;
    //     text-align: center;
    //     justify-content: center;
    // }

    &--description {
        font-size: 1rem;
        color: #ccc;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        font-family: 'Poppins', sans-serif;
    }
}

.header {
    @include gradient2;
    font-family: 'Bricolage Grotesque';
}

.header-p {
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
}

.header-p2 {
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.poppinss {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

//HEADING LINE
.heading-line::before {
    content: " ";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.heading-line::after {
    content: " ";
    width: 2rem;
    padding-top: 0.3rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.footer-text {
    // padding-top: 1rem;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
}
